@import "_variables";

.creators {
  padding-bottom: 120px;
}
.creators__title {
  color: $color-white;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 25px;
}
.creators__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 76px;
}
.creators__card {
  min-height: 453px;
  max-width: 361px;
  background: $color-white;
  border-radius: 8px;
  padding: 32px;
}
.creators__img {
  margin: 0 auto;
  max-width: 223px;
  max-height: 223px;
  margin-bottom: 30px;
  img{
    height: 100%;
    width: 100%;
  }
}
.creators__description {
  max-width: 285px;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 16px;
}
.creators__name {
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}