@import "_variables.scss";

.header{
  background: $color-dark;

}

.header__content{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap; 
}
.header__links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__logo{
  img{
    width: 100%;
    height: 100%;
  }
}

.header__nav{
  display: flex;
  gap: 20px;
  a{
    color:#A6A8AD;
    font-size: 16px;
    line-height: 20px;
  }
}

.header__btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header__login{
  color: #A6A8AD;
  font-size: 16px;
  line-height: 20px;
}

.header__sign-up{
  color: $color-dark;
  background: $color-white;
  padding: 8px 21px;
  border-radius: 30px;
}

